extends layout
block content
  include nav
  body
    h1 Checked Out Books
    p
      a.button(href='new_book.html') Create New Book
    p
      | Filters 
      a(href='/books') All
      |  
      a(href='/books/filter?=overdue') Overdue
      |  
      a(href='/books/filter?=checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        tr
          td
            a(href='book_detail.html') Emma
          td Jane Austen
          td Classic
          td 1815