extends layout
block content
    include nav
    body
      h1 New Loan
      form(method='POST', action='/loans')
        p
          label(for='book_id') Book
          select#book_id(name='book_id')
            each book in books
              option(value=book.id, name='title')= book.title
        p
          label(for='patron_id') Patron
          select#patron_id(name='patron_id')
            each patron in patrons
              option(value=patron.id, name='first_name')= patron.first_name 
          
        p
          label(for='loaned_on') Loaned on:
          input#loaned_on(type='text', name='loaned_on', value=loanedOn)
        p
          label(for='return_by') Return by:
          input#return_by(type='text', name='return_by', value=returnBy)
        p
          input(type='submit', value='Create New Loan')
